@use './_colors.scss' as *;

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
}

.button {
  display: inline-block;
  background-color: $grey-darker;
  border: 1px solid $grey-light;
  border-radius: 4px;

  font-size: 1rem;
  color: $white;
  padding: .5rem 1rem;
  cursor: pointer;

  &:hover {
    border: 1px solid $blue-light;
  }

  &:focus {
    border: 1px solid $blue;
  }

  &--text {
    background-color: transparent;
    border: none;

    color: $white;
    text-decoration: underline;

    cursor: pointer;

    &:hover {
      background-color: $grey-darker;
    }

    &:focus {
      background-color: $grey-dark;
    }
  }
}
